@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    -webkit-tap-highlight-color: transparent;
    --scrollbar-bg: #fff;
    --scrollbar-border: #eaeaea;
    --scrollbar-thumb-bg: #eaeaea;
    --scrollbar-thumb-border: #bbb;
    --scrollbar-thumb-hover-bg: #ddd;
    --scrollbar-thumb-hover-border: #bbb;
  }

  html.dark {
    --scrollbar-bg: #000;
    --scrollbar-border: #151515;
    --scrollbar-thumb-bg: #151515;
    --scrollbar-thumb-border: #333;
    --scrollbar-thumb-hover-bg: #222;
    --scrollbar-thumb-hover-border: #444;
  }

  ::-webkit-scrollbar {
    width: 18px;
    background-color: var(--scrollbar-bg);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 1px var(--scrollbar-border);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: solid 4px transparent;
    box-shadow:
    inset 0 0 0 1px var(--scrollbar-thumb-border), 
    inset 0 0 0 8px var(--scrollbar-thumb-bg);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    box-shadow:
    inset 0 0 0 1px var(--scrollbar-thumb-hover-border),
    inset 0 0 0 8px var(--scrollbar-thumb-hover-bg);
  }

  /* Gradient Border */
  .rotating-gradient {
    --rotating-gradient-border: 1.5px;
    --rotating-gradient-color: #ffffff00;
    padding: 1rem;
    overflow: hidden;

    position: relative;
    border-radius: 10px;
    isolation: isolate;
  }

  .rotating-gradient::after {
    z-index: -20;
    transform: rotate(25deg);
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-image: conic-gradient(from 0deg at 50% 50%, transparent 17%, var(--rotating-gradient-color) 24%, transparent 32%, transparent 67%, var(--rotating-gradient-color) 76%, transparent 84%);
    animation: rotate-gradient infinite linear 10s;
    transition: background-image 5s ease, opacity 1s ease;
  }

  .rotating-gradient::before {
    z-index: -10;
    content: '';
    position: absolute;
    inset: var(--rotating-gradient-border);
    border-radius: inherit;
  }

    @keyframes rotate-gradient {
      from {
        transform: rotate(0deg) scale(2);
      }
      to {
        transform: rotate(360deg) scale(2);
      }
    }

  /* repeating expanding scale */
  .expanding-scale {
    transform-origin: center;
    /* transform: translate(-6px, -6px) scale(1.6); */
    animation: expand-scale infinite linear 1250ms ;
  }

  @keyframes expand-scale {
    from {
      transform: translate(-6px, -6px) scale(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    75% {
      transform: translate(-6px, -6px) scale(3);
    }
    to {
      transform: translate(-6px, -6px) scale(4);
      opacity: 0;
    }
  }
}